

{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="card" style="width:100%;">
    <div class="card-body d-flex justify-content-center align-items-center">
        <div>    
            <h2 class="card-title">Change Password</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Change Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
