<!-- top nav -->
<header class="app-header">
    <div class="app-header-logo">
        <div class="logo">
            <div class="app-header-mobile">
                <button class="icon-button large">
                    <h1 class="logo-title">
                        <span>PROVEX</span>
                        <span> HOMES</span>
                    </h1>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header-navigation">
        <div class="tabs">
            <a href="{% url 'dashboard' %}">
                Overview
            </a>
            <a href="{% url 'investments' %}">
                Investments
            </a>
            <a href="{% url 'other_assets' %}">
                Other Assets
            </a>
            <a href="{% url 'profile' %}">
                Account
            </a>
        </div>

        <div class="app-header-mobile">
            <button class="icon-button large">
                <i class="fas fa-list"></i>
            </button>
        </div>
    </div>

    <div class="app-header-mobile">
        <button class="icon-button large">
            <i class="fas fa-list"></i>
        </button>
    </div>
</header>
